<nav (click) = "delete()">
    DB
    <br> <span *ngIf = "user2Online">Online</span>
</nav>

<section>
    <div class="chat" *ngFor="let chat of chats" [ngClass]="{'green':chat.user === 'he'}">
        {{chat.message}}
    </div>
    <div id="lol" style="height: 20px;"></div>
</section>

<footer>
    <form [formGroup] = "messageForm">
        <input id = "input" class = "text" placeholder="text" formControlName="message" type = "text">
        <button color = "accent" mat-fab (click) = "postMessage()"><mat-icon color = "primary">send</mat-icon></button>
    </form>z
</footer>