nav
  height: 35px
  background: #226add
  overflow: hidden
  color: white
  padding-top: 7px
  padding-left: 7px
  position: fixed
  width: 100%
  z-index: 100

.example-spacer 
    flex: 1 1 auto

.example-icon 
    padding: 0 20px
    
section
  position: relative
  top: 42px
  height: 95%
  width: 100%

  .chat
    font-size: 1.2em
    width: 91%
    padding: 4.5%
    border-top: red
    background: green
  
footer
    position: fixed
    bottom: 0
    width: 100%
    z-index: 100

    form
      display: inline-block
      width: 100%

      input
        padding: 8px 5px
        width: 83%
        outline: none
        font-size: 1em
        border: 1px solid #bbb
        border-radius: 20px
        display: inline-block

        button
          position: relative
          color: white !important
          float: right

@media all and (max-width:  400px)
  footer
    form
      input
        width: 78%
  

@media all and (max-width:  310px)
  footer
    form
      input
        width: 75%