<mat-toolbar color = "primary" style ="height: 60px;" [routerLink] = "['']" class = "text">
    <mat-toolbar-row>
      Didactic Broccoli
      <span class=example-spacer></span>
      <img src="../../assets/logo.png" class="example-icon">
    </mat-toolbar-row>
</mat-toolbar>


<div style="width: 100%; text-align: center; padding-top: 100px;">
    <button class = "text" [routerLink]="['/name/1']" mat-flat-button color = "primary">Asteroid</button><br>
    <p></p>
    <button class = "text" [routerLink]="['/name/2']" mat-flat-button color = "primary">Comet</button>
</div>
  
