<mat-toolbar color = "primary" style ="height: 60px;" [routerLink] = "['']" class = "text">
    <mat-toolbar-row>
      Didactic Broccoli
      <span class=example-spacer></span>
      <img src="../../assets/logo.png" class="example-icon">
    </mat-toolbar-row>
</mat-toolbar>
<div style="width: 100%; text-align: center;">
  <form [formGroup]="verifyForm" class = "text">
    <p>
        <mat-form-field appearance="outline" color="accent" class="curve">
          <mat-label class = "text">Asteroid Name</mat-label>
          <input class = "text" matInput placeholder="asteroid passcode" formControlName="name" type = "password" autocomplete="false">
        </mat-form-field>
      </p>

      <button class = "text" mat-flat-button color = "accent" (click)="postName()">Enter</button>
</form>
</div>